body {
    display: flex;
    justify-content: center;
    text-align: center;
    margin:20px;
    padding: 10px ;
    background: linear-gradient(#ffffff, #f9d6d6);
    font-family: "Steph", sans-serif;

}
/* Desktop */
@media (min-width: 768px) {
    body {
        flex-direction: row; /* Makes content appear in a row on larger screens */
        margin: 10px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    body {
        margin: 10px;
        padding: 5px;
    }
}

